<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>vue-multi-divider</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="./style.css">
  </head>
  <body>
    <div id="app">
      {{ message }}
      <div class="slider">
        <div v-for="div in dividers" class="dividers">
          <div class="thumb_group">
            <span v-if="div.enabled">{{ div.value }}</span>
            <span :class="['thumb', div.enabled ? '' : 'invisible', div.last ? 'last' : '']">
            </span>
          </div>
        </div>
        <div class="line"></div>
        <span v-for="(grid, index) in grids" :class="['dot', grid.last ? 'last' : '']" @click="toggleGrid(index)"></span>
      </div>
      <ul>
        <li v-for="condition in conditions">
          {{ conditionString(condition) }}
        </li>
      </ul>
    </div>
    <script src="./index.js"></script>
  </body>
</html>
