<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>vue-multi-divider</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="./style.css">
  </head>
  <body>
    <div id="app">
      {{ message }}
      <div class="slider">
        <span class="divisorValue">0</span>
        <span class="divisorValue">10</span>
        <span class="divisorValue">20</span>
        <span class="divisorValue">30</span>
        <span class="divisorValue">40</span>
        <span class="divisorValue last">50</span>
        <span v-for="div in dividers" :class="['thumb', div.enable ? '' : 'invisible', div.last ? 'last' : '']"></span>
        <p class="line"></p>
        <span v-for="(grid, index) in grids" :class="['dot', grid.last ? 'last' : '']" @click="toggleGrid(index)"></span>
      </div>
    </div>
    <script src="./index.js"></script>
  </body>
</html>
